/* Meal Card - short version */

.mealCardShort {
    border: 1px solid rgb(43, 41, 41);
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    margin: 10px;
    margin-left: 20px; 
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 350px;
    height: 180px;
}

.mealCardShortInfo {
    color: rgb(56, 56, 56);
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.mealCardShortInfo h1 {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    
}
.mealCardShortInfo h2 {
    font-size: 15px;
    margin: 0px;
}

.mealPhoto{
    justify-content: center;
    border-radius: 0px 5px 0px 0px;
    margin: 0px;
    padding: 0px;
    width: 130px;
}



/* FULL CARD */

.mealCardFull{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;  
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    height: 600px;
 
}

.mealCardTop{
 display: flex;
 flex-flow: row;
}

.mealCardFullInfo{
    color: rgb(56, 56, 56);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 400px;
    padding: 0px;
    
}

.mealCardFullInfo h1{
    font-size: 30px;
    margin-left: 10px;
    padding: 0px;
}
.mealCardFullInfo h2{
    font-size: 18px;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

.mealCardFull img{
    width: 200px;
    margin: 0px;
    padding: 0px;

}
.mealCardMain{
    display: flex;
    flex-flow: row;
}

.mealCardMainLeft{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 200px;
}
.nutritions{
    display: flex;
    flex-flow: column;
    width: 200px;
    margin-bottom: 10px;
}
.nutritions h3{
    font-size: 18px;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
}
.nutritions p{
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
}
.ingradients {
    display: flex;
    flex-flow: column;
    width: 200px;
}
.ingradients h3{
    font-size: 18px;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
}
.ingradients p{
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
}

.recipe{
    display: flex;
    flex-flow: column;
    width: 400px;
    margin-bottom: 10px;
    border-left: 1px solid black;
}
.recipe h3{
    font-size: 18px;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
}
.recipe p{
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
    padding: 2px;
}


.mealCardFooter{
    display: flex;
    flex-flow: row;
    align-items: space-between;
}
.mealCardFooter button{

    margin: 10px;
}


.bothCardsVisible {
    display: flex;
    flex-flow: column;
}
.mealsColumn {
    display: flex;
    flex-flow: row;

}
.mealsList{
    display: flex;
    flex-flow: row;
}

.mealsList h1 {

    text-align: center;
    border: 1px black solid;
    border-radius: 5px; 
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 10px;
    height: 100px;
    width: 200px;
 

  
}

.addMealButton {
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: green;
    width: 100px;
    height: 60px;

}

.closeCardButton {
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: red;
    width: 100px;
    height: 60px;
}
