.singleDayContainer {
  padding: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  justify-content: space-between;
  max-height: 850px;
}

.changeDayIcon {
  cursor: pointer;
  color: #08ada0;
}

.removeMealIcon {
  color: #c0cbcc;
  margin: 5px;
  cursor: pointer;
}

.mealSpaceFormatter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 30px;
}

.mealTypeTitle {
  margin: 10px;
  text-transform: capitalize;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}

.summaryText {
  margin: 5px 5px;
  text-align: center;
  font-size: 12px;
}

.numbers {
  font-size: 18px;
}

.mealSpaceContainer {
  border-bottom: 1px dashed #08ada0;
  display: flex;
  flex-direction: column;
  /* flex-basis: 25%; */
  min-height: 200px;
}

.mealSpaceContainer h2 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 5px;
}

.mealSpaceContainer h2:hover {
  color: #08ada0;
  cursor: pointer;
}

.mealSpace {
  height: 150px;
  display: flex;
  align-self: flex-end;
}

.dayPicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dayPicker h2 {
  margin: 0 10px;
}

