.rbc-event {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #08ada0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-event.rbc-selected {
  background-color: #088076;
}

.hidden {
  display: none;
}
.rbc-calendar {
  padding: 20px;
}

.ReactModal__Content .mealCardFull {
  flex-direction: column !important;
}

@media (max-width: 524px) {
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100% !important;
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    transform: translate(0, 0) !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }
}
