body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefdfd;
}

.context-menu {
  z-index: 100000;
  background-color: white;
  padding: 10px;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.default-link {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.active-link {
  color: #08ada0;
}

.carousel-container {
  width: 500px;
  height: 150px;
}
.rbc-date-cell > a {
  cursor: default;
}

.rbc-day-bg {
  cursor: pointer;
}

.rbc-row-content {
  z-index: unset !important;
}
